waitress==1.1.0
masonite==2.1.0
gunicorn
masonite_cli>=2.1.0
masonite_deploy==0.0.1
masonite-events==1.0.0
masonite-billing
# masonite-dashboard
psycopg2-binary
pyjwt
raven
python-slugify
htmlmin
pika
masonite-notifications>=1.0.0
orator>=0.9.8
