{% extends 'nav/base.html' %} 

{% block title %}Discover Pokemon Draft Leagues{% endblock %}

{% block content %}
{% include 'helpers/messages.html' %}

<div class="container">
    <div class="row">
        <form action="" method="GET">
        <div class="col-xs-12 col-sm-10">
            <input type="text" class="form-control" name="search">
        </div>
        <div class="col-xs-12 col-sm-2">
            <button class="btn btn-success" type="submit">
                Search
            </button>
        </div>
        </form>

        {% for league_chunk in leagues.chunk(4) %} 
        <div class="row">
            {% for league in league_chunk %}
            <div class="col-xs-3 col-md-3">
                <h3>{{ league.name }}</h3>
                <div>Created By: {{ league.owner.name }}</div>
                <div>Teams: {{ league.get_teams().count() }}</div>
                <div>Draft Status: {{ league.draft_status() }}</div>
                <a href="/league/{{ league.id }}" class="btn btn-success">
                    <span class="fa fa-eye"></span>
                    View
                </a>
            </div>
            {% endfor %}
        </div>

        {% else %}
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="text-center">No Leagues Found</h3>
                </div>
            </div>
        {% endfor %}
        
    </div>
</div>

{% endblock %}