{% extends 'nav/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Create A Team</div>
                <div class="panel-body">
                    {% if request().input('message') %}
                        <div class="alert alert-success">{{ request().input('message') }}</div>
                    {% endif %}
                    <form action="/create/team" method="POST" enctype="multipart/form-data">
                        {{ csrf_field|safe }}
                        <div class="form-group">
                            <label for="team-name">Team Name</label>
                            <input id="team-name" name="name" type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="logo">Team Logo</label>
                            <input type="file" name="logo">
                        </div>
                            
                        <div class="form-group">
                            <button class="btn btn-success" type="submit" name="submit">Create Team</button>
                        </div>
                         
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}