"""{{ table }} Table Seeder.

You can run this seeder in order to generate users. 

    - Each time it is ran it will generate 50 random users.
    - All users have the password of 'secret'.
    - You can run the seeder by running: craft seed:run.
"""

from orator.orm import Factory
from orator.seeds import Seeder

from app.User import User


class {{ table|capitalize }}TableSeeder(Seeder):

    def run(self):
        """
        Run the database seeds.
        """
        self.factory.register({{ table|capitalize }}, self.users_factory)

        self.factory({{table | capitalize}}, 50).create()

    def {{ table }}_factory(self, faker):
        return {
            {% for name, column in columns %}{% if name == 'password' %}
            {{name}}: '$2b$12$WMgb5Re1NqUr.uSRfQmPQeeGWudk/8/aNbVMpD1dR.Et83vfL8WAu', # == 'secret'{% elif name == 'email' %}
            {{name}}: faker.email(),{% elif '_at' in name %}
            # {{name}}: datetime object{% else %}
            {{name}}: faker.name(),{% endif %}{% endfor %}
        }
