{% extends 'leagues/base.html' %}

{% block league_content %}

<div class="panel panel-default">
    <div class="panel-heading">
        App Integrations
    </div>
    <div class="panel-body"> 
        {% if not league.has_discord() %}
            <a href="{{ route('discord.send', {'league': league.id}) }}">
                <button class="btn btn-default" style="font-size: bold">
                    <h1>
                        <i class="fab fa-discord" style="color: #7289da; font-size: 2em"></i>
                    </h1>
                    <p>Click to connect</p>
                </button>
            </a>
        {% else %}
            <div class="alert alert-info">Discord is connected. You will receive events in your league such as draft picks, league requests and whose turn it is to draft.</div>
                <button class="btn btn-success" style="font-size: bold">
                    <h1><i class="fab fa-discord" style="color: #fff; font-size: 2em"></i></h1>
                    Connected :)
                </button>
        {% endif %}
    </div>
</div>
{% endblock %}
