{% extends 'nav/base.html' %} 

{% block content %}
<div class="content">
    <div class="container-fluid">
        {% if auth() and auth().is_league_owner(league) and not league.get_teams().count() %}
            <div class="alert alert-warning">
                There are no members in this league. Not even you. If you would like to join it then use the join tab in the league navigation menu and then accept one of your own teams using the Requests tab.
            </div>
        {% endif %}
        <div class="row">
            <!-- NAVIGATION -->
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Navigation</div>
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <a href="/league/{{ league.id }}">Overview</a>
                            </li>
                            <li>
                                <a href="/league/{{ league.id }}/draft">Draft</a>
                            </li>
                            <li>
                                <a href="/league/{{ league.id }}/teams">Teams</a>
                            </li>
                            <li>
                                <a href="/league/{{ league.id }}/join">Join</a>
                            </li>
                            <li>
                                <a href="/league/{{ league.id }}/schedule">Schedule</a>
                            </li>

                            {% if auth() and auth().is_league_owner(league) %}
                                <li>
                                    <a href="/league/{{ league.id }}/requests">Requests</a>
                                </li>

                                <li>
                                    <a href="{{ route('league.edit', {'id': league.id}) }}">Edit</a>
                                </li>
                                {% if league.owner.is_subscribed() %}
                                <li>
                                    <a href="/league/{{ league.id }}/apps">App Integrations</a>
                                </li>
                                {% else %}
                                <li>
                                    <a href="{{ route('settings.plans') }}">
                                        <span class="fa fa-lock" style="color: #f1c40f"></span>
                                        App Integrations
                                    </a>
                                </li>
                                {% endif %}
                                <hr>
                                <li><h4>Danger Zone</h4></li>
                                <li>
                                    <form action="{{ route('league.delete', {'id': league.id}) }}" method="POST">
                                        {{ csrf_field|safe }}
                                        <button type="submit" class="btn btn-danger">
                                            Delete League
                                        </button>
                                    </form>
                                    
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

                {% block league_content_left %} {% endblock %}
            </div>
            <div class="col-xs-12 col-md-8">
                {% block league_content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}