{% extends 'leagues/base.html' %} 

{% block league_content %}
<div class="panel panel-default">
    <div class="panel-heading">Teams</div>
    <div class="panel-body">
        {% include 'helpers/messages.html' %}
        <div class="text-center">
            <a href="{{ route('create.teams') }}?back={{ route('league.join', {'id': league.id}) }}">
                <div class="btn btn-success">
                    <span class="fa fa-plus"></span> Create A Team</div>
                    <hr>
            </a>
            
        </div>
        {% for chunk in teams.chunk(3) %}
            <div class="row">
            {% for team in chunk %}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="text-center">
                        <img src="/logos/{{ team.picture }}"
                            style="height: 200px" 
                            alt="team logo" 
                            onError="this.onerror=null;this.src='/static/logos/noimage.jpg';" 
                            class="">
                    </div>

                    <div class="text-center">
                        <h2>{{ team.name }}</h2>
                        <h4>Owned By {{ team.owner.name }}</h4>
                        <h4>Points {{ team.points }}</h4>
                    </div>
                    
                    {% if auth() and auth().is_league_owner(league) %}
                    <div class="text-center">
                        <form action="{{ route('league.points.change', {'id': league.id}) }}" method="POST">
                            {{ csrf_field|safe }}
                            {{ back(request().path)|safe }}
                            <input type="hidden" value="{{ team.id }}" name="team">
                            <div class="form-group">
                                <input class="form-control" type="text" value="{{ team.points }}" name="points">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Change points</button>
                            </div>
                        </form>
                    </div>
                    {% endif %}

                    <hr>

                    <h3 class="text-center">Pokemon</h3>

                    {% for drafted in team.get_team_pokemon(league) %}
                        <h4>{{ drafted.pokemon.name }}</h4>
                    {% endfor %}
                </div>
            {% endfor %}
            </div>
        {% else %}
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-center">No Teams</h3>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}